.links {
    float: right;
    text-decoration: none;

    &__social {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        a {
            img {
                width: 24px;
                margin: 20px;
            }
        }
    }
}
