@use 'reset';
@use 'header';
@use 'bar_links';
@use 'content';
@use 'card';

body {
    background-color: #fff;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    @media (max-width: 767px) {
        background-image: url('../images/background-mobile1.jpg');
    }
}