@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Amatic+SC&family=Bungee&family=Cinzel&family=PT+Serif:ital@1&family=Poppins:ital@1&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap');
body {
    background-color: rgb(238, 238, 238);
}
.img-max-width {
    max-width: 5%;
}
header {
    background-color: rgb(238, 238, 238);
}
nav a {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    margin-left: 10vw;
    font-variant: small-caps;
}
.border-rounded {
    border-radius: 8px;
}
.img-rounded {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
