body {
    background-image: url(/assets/img/luke-chesser-eICUFSeirc0-unsplash.jpg);
}
.container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 3em;
}
.form-label, .footer, a {
    color: #fff;
}
a:hover {
    color: rgb(13, 110, 253);
}
.error {
    color: red;
    font-weight: bold;
  }